.center-align {
    text-align: center;
}

.big-text {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 48px;
}

.exp {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: 1000;
    text-decoration: none;
    font-size: 28px;
    color: rgb(99, 72, 25);
}

img {
    height: 400px;
    width: auto;
}